
<div *ngIf="stockInfo">
    <h2><span jhiTranslate="stockTrackerApp.stockInfo.detail.title">Stock Info</span> {{stockInfo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="stockTrackerApp.stockInfo.sector">Sector</span></dt>
        <dd>
            <span jhiTranslate="{{'stockTrackerApp.Sector.' + stockInfo.sector}}">{{stockInfo.sector}}</span>
        </dd>
        <dt><span jhiTranslate="stockTrackerApp.stockInfo.earningPerStock">Earning Per Stock</span></dt>
        <dd>
            <span>{{stockInfo.earningPerStock}}</span>
        </dd>
        <dt><span jhiTranslate="stockTrackerApp.stockInfo.divident">Divident</span></dt>
        <dd>
            <span>{{stockInfo.divident}}</span>
        </dd>
        <dt><span jhiTranslate="stockTrackerApp.stockInfo.faceValue">Face Value</span></dt>
        <dd>
            <span>{{stockInfo.faceValue}}</span>
        </dd>
        <dt><span jhiTranslate="stockTrackerApp.stockInfo.bookValue">Book Value</span></dt>
        <dd>
            <span>{{stockInfo.bookValue}}</span>
        </dd>
        <dt><span jhiTranslate="stockTrackerApp.stockInfo.stock">Stock</span></dt>
        <dd>
            <div *ngIf="stockInfo.stock">
                <a [routerLink]="['/stock', stockInfo.stock?.id]">{{stockInfo.stock?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'stock-info/'+ stockInfo.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
