<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myStockInfoLabel" jhiTranslate="stockTrackerApp.stockInfo.home.createOrEditLabel">Create or edit a Stock Info</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!stockInfo.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="stockInfo.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockTrackerApp.stockInfo.sector" for="field_sector">Sector</label>
            <select class="form-control" name="sector" [(ngModel)]="stockInfo.sector" id="field_sector"  required>
                <option value="AUTO">{{'stockTrackerApp.Sector.AUTO' | translate}}</option>
                <option value="BANK">{{'stockTrackerApp.Sector.BANK' | translate}}</option>
                <option value="CEMENT">{{'stockTrackerApp.Sector.CEMENT' | translate}}</option>
                <option value="CHEMICALS">{{'stockTrackerApp.Sector.CHEMICALS' | translate}}</option>
                <option value="CONSTRUCTION">{{'stockTrackerApp.Sector.CONSTRUCTION' | translate}}</option>
                <option value="ENGINEERING">{{'stockTrackerApp.Sector.ENGINEERING' | translate}}</option>
                <option value="FMGC">{{'stockTrackerApp.Sector.FMGC' | translate}}</option>
                <option value="METALS">{{'stockTrackerApp.Sector.METALS' | translate}}</option>
                <option value="POWER">{{'stockTrackerApp.Sector.POWER' | translate}}</option>
                <option value="SUGAR">{{'stockTrackerApp.Sector.SUGAR' | translate}}</option>
                <option value="TEXTILES">{{'stockTrackerApp.Sector.TEXTILES' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.sector?.dirty && editForm.controls.sector?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.sector?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockTrackerApp.stockInfo.earningPerStock" for="field_earningPerStock">Earning Per Stock</label>
            <input type="number" class="form-control" name="earningPerStock" id="field_earningPerStock"
                [(ngModel)]="stockInfo.earningPerStock" required/>
            <div [hidden]="!(editForm.controls.earningPerStock?.dirty && editForm.controls.earningPerStock?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.earningPerStock?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.earningPerStock?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockTrackerApp.stockInfo.divident" for="field_divident">Divident</label>
            <input type="number" class="form-control" name="divident" id="field_divident"
                [(ngModel)]="stockInfo.divident" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockTrackerApp.stockInfo.faceValue" for="field_faceValue">Face Value</label>
            <input type="number" class="form-control" name="faceValue" id="field_faceValue"
                [(ngModel)]="stockInfo.faceValue" required/>
            <div [hidden]="!(editForm.controls.faceValue?.dirty && editForm.controls.faceValue?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.faceValue?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.faceValue?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockTrackerApp.stockInfo.bookValue" for="field_bookValue">Book Value</label>
            <input type="number" class="form-control" name="bookValue" id="field_bookValue"
                [(ngModel)]="stockInfo.bookValue" required/>
            <div [hidden]="!(editForm.controls.bookValue?.dirty && editForm.controls.bookValue?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.bookValue?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.bookValue?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockTrackerApp.stockInfo.stock" for="field_stock">Stock</label>
            <select class="form-control" id="field_stock" name="stock" [(ngModel)]="stockInfo.stock">
                <option [ngValue]="null"></option>
                <option [ngValue]="stockOption.id === stockInfo.stock?.id ? stockInfo.stock : stockOption" *ngFor="let stockOption of stocks; trackBy: trackStockById">{{stockOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
