<div>
    <h2>
        <span jhiTranslate="stockTrackerApp.stockInfo.home.title">Stock Infos</span>
        <button class="btn btn-primary float-right jh-create-entity create-stock-info" [routerLink]="['/', { outlets: { popup: ['stock-info-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="stockTrackerApp.stockInfo.home.createLabel">
            Create new Stock Info
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'stockTrackerApp.stockInfo.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="stockInfos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="stockTrackerApp.stockInfo.sector">Sector</span></th>
            <th><span jhiTranslate="stockTrackerApp.stockInfo.earningPerStock">Earning Per Stock</span></th>
            <th><span jhiTranslate="stockTrackerApp.stockInfo.divident">Divident</span></th>
            <th><span jhiTranslate="stockTrackerApp.stockInfo.faceValue">Face Value</span></th>
            <th><span jhiTranslate="stockTrackerApp.stockInfo.bookValue">Book Value</span></th>
            <th><span jhiTranslate="stockTrackerApp.stockInfo.stock">Stock</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let stockInfo of stockInfos ;trackBy: trackId">
                <td><a [routerLink]="['../stock-info', stockInfo.id ]">{{stockInfo.id}}</a></td>
                <td jhiTranslate="{{'stockTrackerApp.Sector.' + stockInfo.sector}}">{{stockInfo.sector}}</td>
                <td>{{stockInfo.earningPerStock}}</td>
                <td>{{stockInfo.divident}}</td>
                <td>{{stockInfo.faceValue}}</td>
                <td>{{stockInfo.bookValue}}</td>
                <td>
                    <div *ngIf="stockInfo.stock">
                        <a [routerLink]="['../stock', stockInfo.stock?.id ]" >{{stockInfo.stock?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../stock-info', stockInfo.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'stock-info/'+ stockInfo.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'stock-info/'+ stockInfo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
