
<div *ngIf="stockDailyTradeInfo">
    <h2><span jhiTranslate="stockTrackerApp.stockDailyTradeInfo.detail.title">Stock Daily Trade Info</span> {{stockDailyTradeInfo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="stockTrackerApp.stockDailyTradeInfo.tradedDate">Traded Date</span></dt>
        <dd>
            <span>{{stockDailyTradeInfo.tradedDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="stockTrackerApp.stockDailyTradeInfo.dayOpen">Day Open</span></dt>
        <dd>
            <span>{{stockDailyTradeInfo.dayOpen}}</span>
        </dd>
        <dt><span jhiTranslate="stockTrackerApp.stockDailyTradeInfo.dayClose">Day Close</span></dt>
        <dd>
            <span>{{stockDailyTradeInfo.dayClose}}</span>
        </dd>
        <dt><span jhiTranslate="stockTrackerApp.stockDailyTradeInfo.dayHigh">Day High</span></dt>
        <dd>
            <span>{{stockDailyTradeInfo.dayHigh}}</span>
        </dd>
        <dt><span jhiTranslate="stockTrackerApp.stockDailyTradeInfo.dayLow">Day Low</span></dt>
        <dd>
            <span>{{stockDailyTradeInfo.dayLow}}</span>
        </dd>
        <dt><span jhiTranslate="stockTrackerApp.stockDailyTradeInfo.change">Change</span></dt>
        <dd>
            <span>{{stockDailyTradeInfo.change}}</span>
        </dd>
        <dt><span jhiTranslate="stockTrackerApp.stockDailyTradeInfo.changePercentage">Change Percentage</span></dt>
        <dd>
            <span>{{stockDailyTradeInfo.changePercentage}}</span>
        </dd>
        <dt><span jhiTranslate="stockTrackerApp.stockDailyTradeInfo.tradedVolume">Traded Volume</span></dt>
        <dd>
            <span>{{stockDailyTradeInfo.tradedVolume}}</span>
        </dd>
        <dt><span jhiTranslate="stockTrackerApp.stockDailyTradeInfo.tradedValue">Traded Value</span></dt>
        <dd>
            <span>{{stockDailyTradeInfo.tradedValue}}</span>
        </dd>
        <dt><span jhiTranslate="stockTrackerApp.stockDailyTradeInfo.deliveryPercentage">Delivery Percentage</span></dt>
        <dd>
            <span>{{stockDailyTradeInfo.deliveryPercentage}}</span>
        </dd>
        <dt><span jhiTranslate="stockTrackerApp.stockDailyTradeInfo.yearHigh">Year High</span></dt>
        <dd>
            <span>{{stockDailyTradeInfo.yearHigh}}</span>
        </dd>
        <dt><span jhiTranslate="stockTrackerApp.stockDailyTradeInfo.yearLow">Year Low</span></dt>
        <dd>
            <span>{{stockDailyTradeInfo.yearLow}}</span>
        </dd>
        <dt><span jhiTranslate="stockTrackerApp.stockDailyTradeInfo.stock">Stock</span></dt>
        <dd>
            <div *ngIf="stockDailyTradeInfo.stock">
                <a [routerLink]="['/stock', stockDailyTradeInfo.stock?.id]">{{stockDailyTradeInfo.stock?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'stock-daily-trade-info/'+ stockDailyTradeInfo.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
