<div>
    <h2>
        <span jhiTranslate="stockTrackerApp.stockDailyTradeInfo.home.title">Stock Daily Trade Infos</span>
        <button class="btn btn-primary float-right jh-create-entity create-stock-daily-trade-info" [routerLink]="['/', { outlets: { popup: ['stock-daily-trade-info-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="stockTrackerApp.stockDailyTradeInfo.home.createLabel">
            Create new Stock Daily Trade Info
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'stockTrackerApp.stockDailyTradeInfo.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="stockDailyTradeInfos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="stockTrackerApp.stockDailyTradeInfo.tradedDate">Traded Date</span></th>
            <th><span jhiTranslate="stockTrackerApp.stockDailyTradeInfo.dayOpen">Day Open</span></th>
            <th><span jhiTranslate="stockTrackerApp.stockDailyTradeInfo.dayClose">Day Close</span></th>
            <th><span jhiTranslate="stockTrackerApp.stockDailyTradeInfo.dayHigh">Day High</span></th>
            <th><span jhiTranslate="stockTrackerApp.stockDailyTradeInfo.dayLow">Day Low</span></th>
            <th><span jhiTranslate="stockTrackerApp.stockDailyTradeInfo.change">Change</span></th>
            <th><span jhiTranslate="stockTrackerApp.stockDailyTradeInfo.changePercentage">Change Percentage</span></th>
            <th><span jhiTranslate="stockTrackerApp.stockDailyTradeInfo.tradedVolume">Traded Volume</span></th>
            <th><span jhiTranslate="stockTrackerApp.stockDailyTradeInfo.tradedValue">Traded Value</span></th>
            <th><span jhiTranslate="stockTrackerApp.stockDailyTradeInfo.deliveryPercentage">Delivery Percentage</span></th>
            <th><span jhiTranslate="stockTrackerApp.stockDailyTradeInfo.yearHigh">Year High</span></th>
            <th><span jhiTranslate="stockTrackerApp.stockDailyTradeInfo.yearLow">Year Low</span></th>
            <th><span jhiTranslate="stockTrackerApp.stockDailyTradeInfo.stock">Stock</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let stockDailyTradeInfo of stockDailyTradeInfos ;trackBy: trackId">
                <td><a [routerLink]="['../stock-daily-trade-info', stockDailyTradeInfo.id ]">{{stockDailyTradeInfo.id}}</a></td>
                <td>{{stockDailyTradeInfo.tradedDate | date:'mediumDate'}}</td>
                <td>{{stockDailyTradeInfo.dayOpen}}</td>
                <td>{{stockDailyTradeInfo.dayClose}}</td>
                <td>{{stockDailyTradeInfo.dayHigh}}</td>
                <td>{{stockDailyTradeInfo.dayLow}}</td>
                <td>{{stockDailyTradeInfo.change}}</td>
                <td>{{stockDailyTradeInfo.changePercentage}}</td>
                <td>{{stockDailyTradeInfo.tradedVolume}}</td>
                <td>{{stockDailyTradeInfo.tradedValue}}</td>
                <td>{{stockDailyTradeInfo.deliveryPercentage}}</td>
                <td>{{stockDailyTradeInfo.yearHigh}}</td>
                <td>{{stockDailyTradeInfo.yearLow}}</td>
                <td>
                    <div *ngIf="stockDailyTradeInfo.stock">
                        <a [routerLink]="['../stock', stockDailyTradeInfo.stock?.id ]" >{{stockDailyTradeInfo.stock?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../stock-daily-trade-info', stockDailyTradeInfo.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'stock-daily-trade-info/'+ stockDailyTradeInfo.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'stock-daily-trade-info/'+ stockDailyTradeInfo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
