<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myStockDailyTradeInfoLabel" jhiTranslate="stockTrackerApp.stockDailyTradeInfo.home.createOrEditLabel">Create or edit a Stock Daily Trade Info</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!stockDailyTradeInfo.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="stockDailyTradeInfo.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockTrackerApp.stockDailyTradeInfo.tradedDate" for="field_tradedDate">Traded Date</label>
            <div class="input-group">
                <input id="field_tradedDate" type="text" class="form-control" name="tradedDate" ngbDatepicker  #tradedDateDp="ngbDatepicker" [(ngModel)]="stockDailyTradeInfo.tradedDate"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="tradedDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.tradedDate?.dirty && editForm.controls.tradedDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.tradedDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockTrackerApp.stockDailyTradeInfo.dayOpen" for="field_dayOpen">Day Open</label>
            <input type="number" class="form-control" name="dayOpen" id="field_dayOpen"
                [(ngModel)]="stockDailyTradeInfo.dayOpen" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockTrackerApp.stockDailyTradeInfo.dayClose" for="field_dayClose">Day Close</label>
            <input type="number" class="form-control" name="dayClose" id="field_dayClose"
                [(ngModel)]="stockDailyTradeInfo.dayClose" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockTrackerApp.stockDailyTradeInfo.dayHigh" for="field_dayHigh">Day High</label>
            <input type="number" class="form-control" name="dayHigh" id="field_dayHigh"
                [(ngModel)]="stockDailyTradeInfo.dayHigh" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockTrackerApp.stockDailyTradeInfo.dayLow" for="field_dayLow">Day Low</label>
            <input type="number" class="form-control" name="dayLow" id="field_dayLow"
                [(ngModel)]="stockDailyTradeInfo.dayLow" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockTrackerApp.stockDailyTradeInfo.change" for="field_change">Change</label>
            <input type="number" class="form-control" name="change" id="field_change"
                [(ngModel)]="stockDailyTradeInfo.change" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockTrackerApp.stockDailyTradeInfo.changePercentage" for="field_changePercentage">Change Percentage</label>
            <input type="number" class="form-control" name="changePercentage" id="field_changePercentage"
                [(ngModel)]="stockDailyTradeInfo.changePercentage" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockTrackerApp.stockDailyTradeInfo.tradedVolume" for="field_tradedVolume">Traded Volume</label>
            <input type="number" class="form-control" name="tradedVolume" id="field_tradedVolume"
                [(ngModel)]="stockDailyTradeInfo.tradedVolume" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockTrackerApp.stockDailyTradeInfo.tradedValue" for="field_tradedValue">Traded Value</label>
            <input type="number" class="form-control" name="tradedValue" id="field_tradedValue"
                [(ngModel)]="stockDailyTradeInfo.tradedValue" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockTrackerApp.stockDailyTradeInfo.deliveryPercentage" for="field_deliveryPercentage">Delivery Percentage</label>
            <input type="number" class="form-control" name="deliveryPercentage" id="field_deliveryPercentage"
                [(ngModel)]="stockDailyTradeInfo.deliveryPercentage" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockTrackerApp.stockDailyTradeInfo.yearHigh" for="field_yearHigh">Year High</label>
            <input type="number" class="form-control" name="yearHigh" id="field_yearHigh"
                [(ngModel)]="stockDailyTradeInfo.yearHigh" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockTrackerApp.stockDailyTradeInfo.yearLow" for="field_yearLow">Year Low</label>
            <input type="number" class="form-control" name="yearLow" id="field_yearLow"
                [(ngModel)]="stockDailyTradeInfo.yearLow" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockTrackerApp.stockDailyTradeInfo.stock" for="field_stock">Stock</label>
            <select class="form-control" id="field_stock" name="stock" [(ngModel)]="stockDailyTradeInfo.stock" >
                <option [ngValue]="null"></option>
                <option [ngValue]="stockOption.id === stockDailyTradeInfo.stock?.id ? stockDailyTradeInfo.stock : stockOption" *ngFor="let stockOption of stocks; trackBy: trackStockById">{{stockOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
