<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myStockLabel" jhiTranslate="stockTrackerApp.stock.home.createOrEditLabel">Create or edit a Stock</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!stock.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="stock.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockTrackerApp.stock.stockCode" for="field_stockCode">Stock Code</label>
            <input type="text" class="form-control" name="stockCode" id="field_stockCode"
                [(ngModel)]="stock.stockCode" required/>
            <div [hidden]="!(editForm.controls.stockCode?.dirty && editForm.controls.stockCode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.stockCode?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockTrackerApp.stock.stockName" for="field_stockName">Stock Name</label>
            <input type="text" class="form-control" name="stockName" id="field_stockName"
                [(ngModel)]="stock.stockName" required/>
            <div [hidden]="!(editForm.controls.stockName?.dirty && editForm.controls.stockName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.stockName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockTrackerApp.stock.exchange" for="field_exchange">Exchange</label>
            <select class="form-control" name="exchange" [(ngModel)]="stock.exchange" id="field_exchange"  required>
                <option value="NSE">{{'stockTrackerApp.Exchange.NSE' | translate}}</option>
                <option value="BSE">{{'stockTrackerApp.Exchange.BSE' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.exchange?.dirty && editForm.controls.exchange?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.exchange?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
