
<div *ngIf="stock">
    <h2><span jhiTranslate="stockTrackerApp.stock.detail.title">Stock</span> {{stock.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="stockTrackerApp.stock.stockCode">Stock Code</span></dt>
        <dd>
            <span>{{stock.stockCode}}</span>
        </dd>
        <dt><span jhiTranslate="stockTrackerApp.stock.stockName">Stock Name</span></dt>
        <dd>
            <span>{{stock.stockName}}</span>
        </dd>
        <dt><span jhiTranslate="stockTrackerApp.stock.exchange">Exchange</span></dt>
        <dd>
            <span jhiTranslate="{{'stockTrackerApp.Exchange.' + stock.exchange}}">{{stock.exchange}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'stock/'+ stock.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
